{% extends "base.html" %}
{% block content %}

  <div class="jumbotron jumbotron-fluid">

    <h1> Welcome to Xavier Bouteiller's Home Page</h1>
    <br>
    <br>
    <p class="text-justify"> Il est démontré, disait-­il, que les choses ne peuvent être autrement : car tout étant fait pour une fin, tout est nécessairement pour la meilleure fin. Remarquez bien que les nez ont été faits pour porter des lunettes ; aussi avons ­nous des lunettes. Les jambes sont visiblement instituées pour être chaussées, et nous avons des chausses. [...]. Par conséquent, ceux qui ont avancé que tout est bien ont dit une sottise : il fallait dire que tout est au mieux.</p>
    <p class="text-justify">Voltaire, Candide ou l’Optimisme, 1759</p>

  </div>



  <div class="container-fluid">

    <div class="card-deck">
      <div class="card border-0" style="width: 18rem;" align='center'>
        <img src="../static/XB.jpg" class="card-img-top img-thumbnail border-0" alt="...">
        <div class="card-body">
          <p class="card-text">Sampling Robinia throught America</p>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-body">
          <p class="card-text text-justify">After studying Physics at the University, I started my career as a physics and chemistry teacher
within French secondary school. I went back to the University to study Biology and Ecology with the objective to
defend a PhD and pursue my career as a research scientist.</p>

<p class="card-text text-justify"> During
my PhD I focused on biological invasions. Thus my research concentrated on the role of evolutionary processes involved in the success of
the invasive tree species black locust (Robinia pseudoacacia L.). I used a combined approach
of population genetics and quantitative genetics to reconstruct the history of introduction from America to Europe of black locust and to detect any phenotypic differentiation on juvenile
traits among opulations</p>

<p class="card-text text-justify">I always have been very enthusiastic about teaching, thus I was involved in teaching statistics and programming with R for undergraduate and postgraduate students at Bordeaux University. I give also statistics and programming lectures to the Data Analyst and Data Scientist students at the private institute Bordeaux Data University</p>

<p class="card-text text-justify"> Recently I started also a Data Scientist career working for private companies. I focused on solving data related problem of my industrial clients as Ariane Group and Lectra. My main tasks were to collect and to analyze data with robust statistical models and to develop predictive models for anomaly detection.</p>
        </div>
      </div>
    </div>

  </div>

{% endblock %}
