{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <h1>Invasive Species: <span class="font-italic">Robinia pseudoacacia</span>  </h1>
  <br>
</div>

<div class="container"">

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 <br>

  <div class="card mb-3 border-0" >
    <div class="row no-gutters border-0">
      <div class="col-md-4  border-0" style="max-width: 200px;">
        <img src="../static/invasive/acp.jpg" class="card-img" alt="..." >
      </div>
      <div class="col-md-8 border-0">
        <div class="card-body  border-0">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
<br>

  <div class="card mb-3  border-0">
    <div class="row no-gutters border-0">
      <div class="col-md-4 border-0" style="max-width: 200px;">
        <img src="../static/invasive/us_surf.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8 border-0">
        <div class="card-body  border-0">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
<br>

  <div class="card mb-3 border-0">
    <div class="row no-gutters border-0">
      <div class="col-md-4 border-0" style="max-width: 200px;">
        <img src="../static/invasive/germ_be_fr.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8 border-0">
        <div class="card-body border-0">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>






{% endblock %}
