{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1> List of publications </h1>

  <div class="Container">  
    <ul class="list-group">
      <li class="list-group-item"> Bouteiller, XP, Verdu, CF, Aikio, E, et al. A few north Appalachian populations are the source of European black locust. Ecol Evol. 2019; 9: 2398– 2414. https://doi.org/10.1002/ece3.4776 </li>

      <li class="list-group-item">Bouteiller XP, Barraquand F, Garnier-Géré P, Harmand N, Laizet Y, Raimbault A, Segura R, Lassois L, Monty A, Verdu C, Mariette S & Porté AJ (2018) No evidence for genetic differentiation in juvenile traits between Belgian and French populations of the invasive tree Robinia pseudoacacia. Plant, Ecology and Evolution, 151(1), 5–17. https://doi.org/10.5091/plecevo.2018.1403
</li>
      <li class="list-group-item">Bouteiller XP, Porté AJ, Mariette S, Monty A (2017). Using automated sanding to homogeneously break seed dormancy in black locust (Robinia pseudoacacia L., Fabaceae). Seed Science Research. https://doi.org/10.1017/S0960258517000150
</li>
    </ul>
  </div>

</div>
{% endblock %}
