{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1> List of publications </h1>
  <br>
  <p> Please find below my list of publications</p>
</div>


<div class="Container">

  <h2> Papers </h2>
  <br>
  <h3>Submitted</h3>
  <ul class="list-group">
    <li class="list-group-item"> Bouteiller et al. (submitted to biological invasions). The seeds of invasion: Enhanced germination among invasive European populations of black locust compared to native American populations </li>
    <li class="list-group-item">Caignard, Kremer, Bouteiller et al. (submitted to New Phytol). Counter-gradient variation in reproductive effort of a broadly distributed temperate oak (Quercus petraea).</li>
  </ul>
  <br>
  <h3>Published</h3>
  <ul class="list-group">
    <li class="list-group-item"> Bouteiller et al. (2019). A few North Appalachian populations are the source of European black locust. Ecol. Evol. 1-17. </li>
    <li class="list-group-item">Bouteiller et al. (2018) No evidence for genetic differentiation in juvenile traits between Belgian and French populations of the invasive tree Robinia pseudoacacia. Plant Ecol Evol. 151(1), 5-17.</li>
    <li class="list-group-item">Bouteiller et al. (2017) Using automated sanding to homogeneously break seed dormancy in black locust (Robinia pseudoacacia L., Fabaceae). Seed Sci Res. 27(3), 243-250.</li>
  </ul>
  <br>
  <br>
  <h2> Books </h2>
  <br>
  <ul class="list-group">
    <li class="list-group-item"> Nogues X, Garenne A, Bouteiller XP and Fievet V. Biostatistique, Le cours. Livre Collection : Tout en fiches. Dunod, Paris. 384p. 2018. </li>
    <li class="list-group-item">Bouteiller XP. A European ecological and evolutionary history of black locust (Robinia pseudoacacia L.). Doctoral dissertation. University of Bordeaux. 255p. 2018</li>
  </ul>

</div>


{% endblock %}
