{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" align='center'>
  <h1> Vitae </h1>
  <br>
  <h4> Statistics, Evolutionary Ecology and Data Science</h4>
</div>


<div class="Container">

  <div class="">
    <h2 > Present </h2>
    <br>
    <ul class="list-group">
      <li class="list-group-item border-0">Researcher in Evolutionary Ecology, Post Doctoral fellow, Biogeco, Bordeaux University</li>
      <li class="list-group-item border-0">Freelance, Expertise in Statistics and data analysis, Teaching statistics and programming</li
    </ul>
  </div>
  <br>

  <div class="">
    <h2> Positions </h2>
    <br>
    <ul class="list-group">
      <li class="list-group-item border-0">Lecturer, Data University, 2018-2020</li>
      <li class="list-group-item border-0">Data Scientist & Statistician, MP Data, 2018-2020</li>
      <li class="list-group-item border-0">Assistant Lecturer, Bordeaux University, 2018</li>
      <li class="list-group-item border-0">Physics and Chemistry teacher, French National Ministry of Education, 2008-2014</li>
    </ul>
  </div>
  <br>

  <div class="">
    <h2> Education </h2>
    <br>
    <ul class="list-group">
      <li class="list-group-item border-0">PhD in Evolutionary Ecology and Invasive Species, Bordeaux University</li>
      <li class="list-group-item border-0">Msc in Ecology, Rouen University</li>
      <li class="list-group-item border-0">Msc in Ecology, Rouen University</li>
      <li class="list-group-item border-0">Msc in fundamental Physics, Rouen University</li>
    </ul>
    <br>

  </div>

</div>




{% endblock %}
